*,
*::after *::before {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  color: #373a39;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}
.contener {
  max-width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
}
.header__top-inner {
  display: flex;
  justify-content: space-between;
}
.logo {
  margin-left: 52px;
  margin-top: 26px;
}
.menu {
  padding-right: 53px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #373a39;
}
.menu__list {
  display: flex;
  padding: 40px 0;
  margin: 0;
}
.menu__list-item {
  text-transform: uppercase;
  transition: all 0.3s;
}
.menu__list-item + .menu__list-item {
  margin-left: 50px;
}
.menu__list-item:hover {
  border-bottom: 1px solid #fcbb08;
}
.header__content {
  background-image: url(../images/header-bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 94px);
}
.header__content-inner {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  margin: auto 0;
}
.header__content-title {
  font-size: 100px;
  line-height: 122px;
  color: #fff;
  margin: 0;
  margin-bottom: 18.5px;
  padding-top: 140px;
}
.header__content-description {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  background: none;
  color: #fcbb08;
  align-items: center;
}
.header__content-decor::before {
  content: '';
  background-image: url('../images/header__decor-img.svg');
  width: 26px;
  height: 43px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 62px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
