*,
*::after *::before {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}
body {
  color: #373a39;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}
.contener {
  max-width: 1170px;
  padding: 0 135px;
  margin: 0 auto;
}
.header__top-inner {
  display: flex;
  justify-content: space-between;
}
.logo {
  margin-left: 52px;
  margin-top: 26px;
}
.menu {
  padding-right: 53px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #373a39;
}
.menu__list {
  display: flex;
  padding: 40px 0;
  margin: 0;
}
.menu__list-item {
  text-transform: uppercase;
  transition: all 0.3s;
  letter-spacing: 0.6px;
}
.menu__list-item + .menu__list-item {
  margin-left: 50px;
}
.menu__list-item:hover {
  border-bottom: 1px solid #fcbb08;
}
.header__content {
  background-image: url(../images/header-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 94px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
}
.header__content-title {
  font-size: 100px;
  line-height: 122px;
  color: #fff;
  margin: 0;
  margin-bottom: 18.5px;
  text-transform: uppercase;
}
.header__content-description {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  color: #fcbb08;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2.74286px;
  text-transform: uppercase;
}
.header__content::before {
  content: '';
  background-image: url('../images/header__decor-img.svg');
  width: 26px;
  height: 43px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 62px;
}

.about {
  background: #f6f8fa;
  padding: 143px 0 159px 0;
}
.about__inner {
  display: flex;
  justify-content: space-between;
}
.title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
}
.about-title {
  font-size: 48px;
  max-width: 344px;
  margin-right: 56px;
}
.title::before {
  content: '';
  background-image: url(../images/title-decor.svg);
  position: absolute;
  width: 60px;
  height: 4px;
  color: #fcbb08;
  left: 135px;
  margin-top: 80px;
}
.about__text {
  max-width: 770px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #373a39;
}
.about__text p {
  padding-bottom: 23px;
}

.expertise {
  padding: 143px 0 164px 0;
}
.expertise-title {
  font-size: 60px;
  margin-right: 0;
  width: 100%;
  margin-bottom: 89px;
}
.expertise__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
}
.expertise__content-items {
  margin-right: 30px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  color: #1d1d1d;
  padding-top: 9px;
}
.expertise__content-item {
  padding-bottom: 32px;
  width: 370px;
  padding-top: 2px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.expertise__content-item::before {
  content: '';
  background-image: url(../images/expertise__segment.svg);
  position: absolute;
  width: 370px;
  height: 2px;
  margin-top: -2px;
}

.expertise__content-item-one::before {
  content: '';
  background-image: url(../images/expertise__segment-branding.svg);
  position: absolute;
  width: 333px;
  height: 2px;
  margin-top: -2px;
}
.expertise__content-item-two::before {
  content: '';
  background-image: url(../images/expertise__segment-design.svg);
  position: absolute;
  width: 296px;
  height: 2px;
  margin-top: -2px;
}
.expertise__content-item-three::before {
  content: '';
  background-image: url(../images/expertise__segment-developmer.svg);
  position: absolute;
  width: 314px;
  height: 2px;
  margin-top: -2px;
}
.expertise__content-item-one span {
  padding-left: 262px;
}
.expertise__content-item-two span {
  padding-left: 244px;
}
.expertise__content-item-three span {
  padding-left: 218px;
}
.expertise__text p {
  padding-bottom: 23px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #373a39;
}
.expertise__items {
  display: flex;
  justify-content: space-between;
}
.expertise__item {
  display: flex;
  justify-content: space-between;
  margin-right: 27px;
}
.expertise__item-img {
  width: 50px;
  height: 50px;
  padding-right: 35px;
}
.expertise__item-img-increased {
  height: 55px;
}
.expertise__item-title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  padding-bottom: 14px;
  letter-spacing: 4.29px;
  text-transform: uppercase;
}
.expertise__item-text {
  color: #777777;
}

.features {
  padding-right: 135px;
  background: #f6f8fa;
}
.features__inner {
  display: flex;
  justify-content: space-between;
}
.features__img {
  margin-right: 130px;
  max-width: 50%;
}
.features__title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
  font-size: 60px;
  margin-right: 0;
  width: 100%;
  margin-bottom: 14px;
  letter-spacing: -1.65px;
  color: #242121;
}
.features__title-decor {
  margin-bottom: 67px;
  width: auto;
}
.features__text {
  font-size: 14px;
}
.features__text p {
  padding-bottom: 23px;
}
.portfolio {
  margin-top: 141px;
}
.portfolio__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 103px;
  align-items: center;
}
.portfolio__title {
  font-size: 60px;
  margin-right: 0;
  width: 252px;
  letter-spacing: -1.65px;
  color: #242121;
}
.portfolio__title::before {
  left: 139px;
}
.portfolio__btn {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #333333;
  background: none;
  border: 0;
  padding: 0;
  text-transform: uppercase;
}
.portfolio__btn + .portfolio__btn {
  margin-left: 51px;
}
.portfolio__btn:hover {
  border-bottom: 1px solid #fcbb08;
}
.portfolio__images {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 72px;
}
.portfolio__images-column {
  width: 25%;
}
.portfolio__images-column + .portfolio__images-column {
  margin-left: 23px;
}
.portfolio__item-img {
  background-color: #ededed;
  max-width: 343px;
  cursor: pointer;
}
.portfolio__item-img:hover .portfolio__item-text {
  display: flex;
}
.portfolio__item-img:hover {
  background: linear-gradient(
      0deg,
      rgba(36, 33, 33, 0.8),
      rgba(36, 33, 33, 0.8)
    ),
    #ededed;
  border: 12px solid rgba(255, 255, 255, 0.147164);
}
.portfolio__item-img + .portfolio__item-img {
  margin-top: 23px;
}
.portfolio__item-img-one-one {
  height: 494px;
}
.portfolio__item-img-one-two {
  height: 395px;
}
.portfolio__item-img-two-one,
.portfolio__item-img-two-two {
  height: 288px;
}
.portfolio__item-img-two-three {
  height: 292px;
}
.portfolio__item-img-three-one {
  height: 367px;
}
.portfolio__item-img-three-two {
  height: 523px;
}
.portfolio__item-img-four-one {
  height: 318px;
}
.portfolio__item-img-four-two {
  height: 572px;
}
.portfolio__item-text {
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.portfolio__item-title {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1.4px;
  color: #fff;
  margin-bottom: 10px;
}
.portfolio__item-descr {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.portfolio__btn-all {
  background: none;
  border: none;
  width: 100%;
  height: 100px;
  cursor: pointer;
  background: #f6f8fa;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1.2px;
  color: #242121;
}
.portfolio__btn-all:hover {
  border: 2px solid #fcbb08;
}
.video {
  margin-top: 130px;
}
.video__quotes {
  margin: 0 394px 51px 394px;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: 36px;
  color: #242121;
}
.video__quotes-author {
  text-align: center;
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
  color: #9e9e9e;
  margin-bottom: 148px;
}
.video__content-img {
  max-height: 324px;
  cursor: pointer;
}
.statistics {
  margin: 164px 0 166px 0;
}
.statistics__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.statistics__item-num {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  color: #242121;
}
.statistics__item-text {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #00b2a0;
}
.slider {
  padding: 307px 0 114px 133px;
  background: #f6f8fa;
}
.slider__item-title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #242121;
  padding-bottom: 32px;
}
.slider__item-text {
  font-size: 14px;
  color: #777777;
}
.slick-list {
  max-width: 679px;
  margin-bottom: 197px;
}
.slick-arrow {
  width: 35px;
  height: 35px;
  border: 0;
  background: transparent;
  top: 48%;
}
.slick-prev {
  position: absolute;
  left: 38px;
}
.slick-next {
  position: absolute;
  right: 38px;
}
.slick-dots {
  display: flex;
  justify-content: flex-start;
}
.slick-dots li {
  width: 22px;
  height: 0;
}
.slick-dots button {
  width: 6px;
  height: 6px;
  padding: 0;
  background-color: #242121;
  border: 0;
  border-radius: 50%;
  opacity: 0.4;
  color: #242121;
  font-size: 0;
  margin: 0 6px;
  cursor: pointer;
}
.slick-active button {
  opacity: 1;
  width: 10px;
  height: 10px;
  margin: 0 10px;
}
.team {
  padding: 120px 0 164px 0;
}
.team__title {
  font-size: 60px;
  margin-bottom: 102px;
  letter-spacing: -1.65px;
}
.team__items {
  display: flex;
  justify-content: space-between;
}
.team__item + .team__item {
  margin-left: 30px;
}
.team__item-name {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.team__item-position {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  color: #c2c2c2;
}
.pricing {
  background: #f6f8fa;
  padding: 114px 0 162px 0;
}
.pricing .title {
  font-size: 60px;
  letter-spacing: -1.65px;
  margin-bottom: 109px;
}
.pricing .title::before {
  left: 139px;
}
.pricing__items {
  display: flex;
}
.pricing__item {
  background: #fff;
  width: calc((100% - 60px) / 3);
  padding: 24px 25px 53px 25px;
}
.pricing__item + .pricing__item {
  margin-left: 30px;
}
.pricing__item-name {
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #242121;
}
.pricing__item-rate {
  text-align: center;
  font-size: 80px;
  line-height: 109px;
  color: #242121;
  margin-bottom: 51px;
}
.pricing__item-rate span {
  font-size: 20px;
  line-height: 27px;
}
.pricing__item-rate::before {
  content: '';
  background-image: url(../images/pricing-dolor.svg);
  position: absolute;
  background-repeat: no-repeat;
  width: 23px;
  height: 54px;
  margin-top: 26px;
}
.pricing__item-rate-one::before {
  left: 16%;
}
.pricing__item-rate-two::before {
  left: 41%;
}
.pricing__item-rate-three::before {
  left: 66%;
}
.pricing__list {
  text-align: center;
  margin-bottom: 69px;
}
.pricing__list-item {
  font-size: 16px;
  line-height: 22px;
  color: #242121;
}
.pricing__list-item + .pricing__list-item {
  padding-top: 30px;
}
.pricing__btn {
  width: 100%;
  background: transparent;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #242121;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
.pricing__btn:hover {
  border: 1.5px solid #fcbb08;
  cursor: pointer;
}
.contact {
  padding-top: 292px;
  display: flex;
  justify-content: space-between;
}
.contact .contener {
  padding-right: 0;
  margin: 0;
}
.contact__content {
  padding-right: 112px;
}

.contact__title {
  font-size: 60px;
  letter-spacing: -1.65px;
  color: #242121;
  margin-bottom: 112px;
  margin-top: 145px;
}
.contact__form {
  display: flex;
  flex-direction: column;
}

.contact__form-input {
  padding-bottom: 16px;
  border: 0;
  border-bottom: 2px solid #373a39;
}
.contact__form-input + .contact__form-input {
  margin-top: 32px;
}
.contact__form-input::-webkit-input-placeholder,
.contact__form-textarea::-webkit-input-placeholder {
  color: #888;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 3.70909px;

}
.contact__form-textarea{
  margin: 53px 0 40px 0;
  border: none;
  border-bottom: 2px solid #373a39;
  height: 156px;
}
.contact__form-btn {
  max-width: 230px;
  height: 45px;
  border: none;
  background: #242121;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}


.footer {
  background: #373A39;
}
.footer__content {
  color: #fff;
}
.contener {
}
.logo {
}
.logo-line {
  margin: 0px;
  padding-top: 110px;
  width: 42px;
  height: 42px;
}
.logo__link {
}
.logo__img {
}
.footer__social {
}
.footer__social-link {
}
.footer__adress {
}
.footer__phone {
}
.footer__email {
}
.footer-to__top-btn {
}
.footer__copy {
}
