*,
*::after *::before {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  
}

body {
  margin: 0;
  max-width: 1440px;
  color: #373a39;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}
.header {
  background-image: url(../images/header-bg.png);
  background-repeat: no-repeat;
  height: 100vh;
}
.header__top {
}
.contener {
  width: 100%;
}
.header__top-inner {
  display: flex;
  justify-content: space-between;
}
.logo {
  padding: 26px 0 26px 52px; 
  height: 42px;
}
.logo__link {
}
.logo__img {
}
.menu {
}
.menu__list {
  display: flex;
  padding: 40px 0;
  margin: 0;
}
.menu__list-item + .menu__list-item {
  padding-left: 50px;
}
.menu__link {
}
.menu__link--active {
}
.header__content {
}
.header__content-inner {
}
.header__content-title {
}
.header__content-description {
}
.header__content-decor {
}
